.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.container {
  position: relative;
  z-index: 1;
}

.image {
  position: absolute;
  z-index: 0;
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  
  color: #e3e3e3;
}




.gradient-text {
  font-weight: 700;
  background: linear-gradient(to right, rgb(39,148,247), rgb(39,148,247), rgb(231,253,255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
